<!DOCTYPE html>
<html>
  <head>
    <title>Email Prediction Application</title>
    <link rel='stylesheet' href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>Search Form<span class='name'><%= greet_name %></span></h1>
      <div id="search_form">
        <form action="/search" method="post">
          <input type="text" name="first_name" id="first_name" placeholder="first name ...">
          <input type="text" name="last_name" id="last_name" placeholder="last name ...">
          <input type="text" name="domain" id="domain" placeholder="company name ...">
          <input type="submit" value="Search &rarr;">
        </form>
      </div>
    </div>
  </body>
</html>